<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Student Feedback</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#aboutus">About</a>
      <a href="/contactus">Contact</a>
      <a href="/login">login</a>

    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>Student Feedback portal</h1>
      <p>Beyond the Classroom – Student Feedback at CBIT College – Hyderabad</p>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Projects</p>
        <p class="work-text">The project involves building a user authentication system for a website or web application, providing features like login, signup, and password reset functionality.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">Skills required for this project include proficiency in JavaScript for implementing core functionality, HTML/CSS for designing the user interface, and DOM manipulation for interacting with webpage elements.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Network</p>
        <p class="work-text">This project connects front-end development skills with back-end systems, integrating user authentication with server-side logic. It may also involve interaction with external APIs for features like email verification or password reset.</p>
      </div>
    </div>
    <div class="about-me" id="aboutus">
      <div class="about-me-text">
        <h2>About Our Team</h2>
        <p>"Our team at the Student Feedback Portal comprises dedicated individuals committed to enhancing the student experience. With diverse backgrounds and expertise, we collaborate to ensure the platform meets the evolving needs of our student community. Each member brings unique insights and skills to the table, fostering innovation and continuous improvement. We prioritize transparency and accountability, valuing open communication with students and stakeholders. Through our collective efforts, we strive to create a user-friendly and impactful platform that empowers students to provide valuable feedback and drive positive change. Your input is integral to our mission, and we are here to support and serve you. Together, we can make a difference in shaping the future of our educational environment."</p>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; 2024 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="/contactus">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>