<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side-by-Side Login Page</title>
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link rel="stylesheet" type="text/css" href="login.css"/>
</head>


<body>
  <div class="container">
    <form action="/login" method="post">
      <div class="row">
        <div class="col-6-md">
          <h2>Student login</h2>
          <div class="form-group">
            <label for="username"><i class="fas fa-user"></i> Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="mail"
              
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="password"><i class="fas fa-lock"></i> Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              
              placeholder="Password"
            />
            <input
              type="text"
              value="student"
              name="status"
              style="visibility: hidden"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-sign-in-alt"></i> Login
            </button>
          </div>
          <a href="/signup">Register</a>
        </div>
        <div class="col-6-md">
            <h2>Admin Login</h2>
          <div class="form-group">

            <label for="newUsername"
              ><i class="fas fa-user"></i> Username</label
            >
            <input
              type="text"
              class="form-control"
              id="newUsername"
              name="amail"
              
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="newPassword"
              ><i class="fas fa-lock"></i> Password</label
            >
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="apassword"
              
              placeholder="Password"
            />
            <input
              type="text"
              value="admin"
              name="astatus"
              style="visibility: hidden"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-sign-in-alt"></i> LogIn
            </button>
          </div><br>

        </div>
      </div>
    </form>
  </div>
</body>
