<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link rel="stylesheet" type="text/css" href="signup.css">

</head>


<body>
  <div class="container">

    <form method="post" action="/signup">

      <div class="row">

        <div class="col-6-md">
          <h2>Student SignUp</h2>
          <div class="form-group">
            <label for="username"><i class="fas fa-user"></i> Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="mail"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="password"><i class="fas fa-lock"></i> Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              
              placeholder="Password"
            /> 
            </div>
            <div class="form-group">
            <label for="roll_number"><i class="fas fa-mobile"></i>Roll Number</label>
            <input
              type="number"
              class="form-control"
              id="password"
              name="roll_number"
              
              placeholder="Roll Number"
            />
            </div>
            
            
        <div class="form-group">
            <input
              type="text"
              value="student"
              name="status"
              style="visibility: hidden"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-sign-in-alt"></i> Login
            </button>
          </div>
        
      
    </form>
  </div>
</body>
