<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Course Feedback</title>
    <link rel="stylesheet" type="text/css" href="studentfeed.css">
</head>
<body>
    <div class="container">
        <br><br>
        <h1>Student Course Feedback</h1>
        <p>Rating Scale:</p>
        <ul>
            <li>1 - Bad</li>
            <li>2 - Satisfied</li>
            <li>3 - Good</li>
            <li>4 - Very Good</li>
            <li>5 - Excellent</li>
        </ul>

        <form action="/studentfeed" method="post">
            <label for="clarity">1) How would you rate the clarity of course objectives and expectations?</label><br>
            <input type="radio" name="clarity" id="clarity1" value="1" required> 1
            <input type="radio" name="clarity" id="clarity2" value="2"> 2
            <input type="radio" name="clarity" id="clarity3" value="3"> 3
            <input type="radio" name="clarity" id="clarity4" value="4"> 4
            <input type="radio" name="clarity" id="clarity5" value="5"> 5<br><br>

            <label for="materials">2) Were the learning materials provided as helpful?</label><br>
            <input type="radio" name="materials" id="materials1" value="1" required> 1
            <input type="radio" name="materials" id="materials2" value="2"> 2
            <input type="radio" name="materials" id="materials3" value="3"> 3
            <input type="radio" name="materials" id="materials4" value="4"> 4
            <input type="radio" name="materials" id="materials5" value="5"> 5<br><br>

            <label for="engagement">3) Did the instructor effectively engage you in the learning process?</label><br>
            <input type="radio" name="engagement" id="engagement1" value="1" required> 1
            <input type="radio" name="engagement" id="engagement2" value="2"> 2
            <input type="radio" name="engagement" id="engagement3" value="3"> 3
            <input type="radio" name="engagement" id="engagement4" value="4"> 4
            <input type="radio" name="engagement" id="engagement5" value="5"> 5<br><br>

            <label for="assessments">4) Were the assessments fair and relevant to course content?</label><br>
            <input type="radio" name="assessments" id="assessmentsYes" value="Yes" required> Yes
            <input type="radio" name="assessments" id="assessmentsNo" value="No" required> No<br><br>

            <label for="realWorld">5) Did the course effectively integrate real-world applications or case studies?</label><br>
            <input type="radio" name="realWorld" id="realWorldYes" value="Yes" required> Yes
            <input type="radio" name="realWorld" id="realWorldNo" value="No" required> No<br><br>

            <label for="suggestions">6) Any Suggestions</label><br>
            <textarea name="suggestions" id="suggestions" placeholder="Enter your suggestions"></textarea><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
